@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-rendering: geometricPrecision;
  }

  body {
    @apply bg-white text-neutral-900;
  }

  a {
    @apply underline-offset-4;
  }

  /* Better default focus visibility */
  :focus-visible {
    outline: 2px solid rgb(115 115 115); /* neutral-500 */
    outline-offset: 2px;
  }
}
